*{box-sizing: border-box;}
body{
    height: 100vh;
}

.parent{
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(10,1fr);
  border: 1px solid black;
    height: 100vh;
    gap: 10px 10px;
  
    grid-template-areas: 
    "child1 . . . . . . . . . . . . . . . . child18"
    "child1 child2  "
    ""
    ""
    ""
    ""
    ""
    ""
    ""
    ""

    ;


}